
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:#d0e7ff;
    color: #333;
    min-height: 100vh;
}


/* Main as a flex container (row) */
main {
  display: flex;
  flex-direction: row;
  flex: auto; 
}


article {
  flex: 2;
  overflow-y: auto;
}


aside {
  flex: 1;
  overflow-y: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

@media (max-width: 800px) {
  body.works_on_smartphone {
    display: block;
  }
  body.works_on_smartphone main {
    display: block;
  }
}



