
body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}


/* Main as a flex container (row) */
main {
  display: flex;
  flex-direction: row;
  flex: auto; 
}


article {
  flex: 2;
  overflow-y: auto;
}


aside {
  flex: 1;
  overflow-y: auto;
}
@media (max-width: 800px) {
  body.works_on_smartphone {
    display: block;
  }
  body.works_on_smartphone main {
    display: block;
  }
}



